<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>moderator</title>
    <link rel="stylesheet" href="{% static 'css/style_2.css' %}">
</head>
<body>
    <button id="downloadexcel" class="btn btn-secondary">Экспорт</button>
    <table id="downloadtable">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>number</th>
            <th>country</th>
            <th>language</th>
            <th>class</th>
            <th>date</th>
            <th>delete</th>
        </tr>
        {% for cli in client %}
            <tr>
             <td>{{ forloop.counter }}</td>
             <td>{{ cli.name }}</td>
             <td>{{ cli.number }}</td>
             <td>{{ cli.country }}</td>
             <td>{{ cli.language }}</td>
             <td>{{ cli.school_class }}</td>
             <td>{{ cli.date }}</td>
             <td>
                <form action="{% url 'delete-form' cli.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
             </td>
            </tr>
        {% endfor %}
    </table>
    <script>
        document.getElementById('downloadexcel').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#downloadtable"));
        });
    </script>
    <script src="{% static 'js/table2excel.js' %}"></script>
</body>
</html>